{% extends "template.html"%}
{% load staticfiles %}

{% block content %}





  <div style="background-color: #e4e4e4;" >

    <img src="/static/image/climbing.png"  class="mid">
    <h5 class="mid"> Do Not Be Satisfied With The Stories That Come Before You, Unfold Your Own Myth.</h5>

  </div>



<section class="container pt-3">

</section>
<section class="carousel carousel1 slide" data-ride="carousel" id="postsCarousel">
    <div class="container">
        <div class="row">
            <div class="col-6  lead">
                <h4>Tours</h4>
            </div>
            <div class="col-6 text-right lead">
                <a href="#">see all tours</a>
                <a href="#"><span class="badge badge-pill badge-light">make your own tour</span></a>
                <a class="btn btn-secondary-outline prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                <a class="btn btn-secondary-outline next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="container pt-0 mt-2">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-deck">
                 {% for tour in tours %}
                <div class="card h-100">
                    <a href="/tour/{{tour.id}}">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid" src="{{tour.MainImage|cut:"web/"}} " alt="Carousel 1">
                    </div>
                    <div class="card-body pt-2">
                        <div  >
                        <h5>
                            {{tour.Title}}
                        </h5>
                        </div >
                        <div style="margin-top: 10%;">

                            <span><i class="far fa-clock"></i> {{tour.Dayduration}} days </span>
                            <span style="float: right"> <span class="badge badge-pill badge-light" style="color:{{tour.Tourtype.Color}}">{{tour.Tourtype.Name}}</span> </span>

                        </div>

                        <div style="margin-top: 5%;">

                            <span>{{tour.commentcount}} review </span>
                            <span style="float: right"> Stars </span>

                        </div>


                        <div style="margin-top: 5%;">
                            From <b> € {{tour.MinPrice}} </b>
                        </div>
                    </div>
                        </a>
                </div>
                    {% endfor %}

            </div>
            </div>
            {% if tours2 %}
            <div class="carousel-item">
                <div class="card-deck">


                    {% for tour in tours2 %}
                <div class="card h-100">
                    <a href="/tour/{{tour.id}}">
                    <div class="card-img-top card-img-top-250">
                        <img class="img-fluid" src="{{tour.MainImage|cut:"web/"}} " alt="Carousel 1">
                    </div>
                    <div class="card-body pt-2">
                        <div  >
                        <h5>
                            {{tour.Title}}
                        </h5>
                        </div >
                        <div style="margin-top: 10%;">

                            <span><i class="far fa-clock"></i> {{tour.Dayduration}} days </span>
                            <span style="float: right"> <span class="badge badge-pill badge-light" style="color:{{tour.Tourtype.Color}}">{{tour.Tourtype.Name}}</span> </span>

                        </div>

                        <div style="margin-top: 5%;">

                            <span>{{tour.commentcount}} review </span>
                            <span style="float: right"> Stars </span>

                        </div>


                        <div style="margin-top: 5%;">
                            From <b> € {{tour.MinPrice}} </b>
                        </div>
                    </div>
                        </a>
                </div>
                    {% endfor %}


            </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>



{% endblock %}