{% extends "template.html"%}
{% load staticfiles %}

{% block content %}





<div style="background-color: #e4e4e4;" >

    <img src="/static/image/climbing.png"  class="mid">
    <h5 class="mid"> Do Not Be Satisfied With The Stories That Come Before You, Unfold Your Own Myth.</h5>

</div>




<section class="carousel carousel1 slide maxwid" data-ride="carousel" id="postsCarousel">
    <div class="container">
        <div class="row">
            <div class="col-6  lead text-left">
                <h4>Tours</h4>
            </div>
            <div class="col-6 text-right lead">
                <a href="#">see all tours</a>
                <a href="#"><span class="badge badge-pill badge-light">make your own tour</span></a>
                <a class="btn btn-secondary-outline prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                <a class="btn btn-secondary-outline next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="container pt-0 mt-3">
        <div class="carousel-inner">
            {% for tours in tours_list%}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <div class="card-deck" style="width: 100%;">
                    {% for tour in tours %}
                    <div class="card h-100">
                        <a href="/tour/{{tour.id}}">
                            <img class="card-img-top responsive" style="width: 100%;" src="{{tour.MainImage|cut:"web/"}} " alt="Carousel 1">
                            <div class="card-body pt-2">
                                <div  >
                                    <h5>
                                        {{tour.Title}}
                                    </h5>
                                </div >
                                <div style="margin-top: 10%;">

                                    <span><i class="far fa-clock"></i> {{tour.Dayduration}} days </span>
                                    <span style="float: right"> <span class="badge badge-pill badge-light" style="color:{{tour.Tourtype.Color}}">{{tour.Tourtype.Name}}</span> </span>

                                </div>

                                <div style="margin-top: 5%;">

                                    <span>{{tour.commentcount}} review </span>
                                    <span style="float: right"> Stars </span>

                                </div>


                                <div style="margin-top: 5%;">
                                    From <b> € {{tour.MinPrice}} </b>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>







<section class="carousel carousel1dis slide maxwid" data-ride="carousel" id="postsCarouseldis" style="margin-top: 3%;">
    <div class="container">
        <div class="row">
            <div class="col-6  lead text-left">
                <h4>Destinations</h4>
            </div>
            <div class="col-6 text-right lead">
                <a href="#">see all destinations</a>
                <a class="btn btn-secondary-outline prevdis" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                <a class="btn btn-secondary-outline nextdis" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
    <div class="container pt-0 mt-3">
        <div class="carousel-inner">
            {% for destinations in destinations_list%}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <div class="card-deck">
                    {% for des in destinations %}
                    <div class="card h-100 rounded">
                        <div class="card-img-top card-img-top-250 rounded" style="position: relative">
                            <img class="img-fluid rounded" src="{{des.Image|cut:"web/"}}" >
                            <div class="bottom-left"><a href="/destination/{{des.Name}}"><h4 style="color:white">{{des.Name}}</h4></a></div>
                        </div>
                    </div>

                    {% endfor %}
                </div>


            </div>
            {% endfor %}
        </div>
    </div>
</section>







<section class="carousel carousel1blog slide maxwid" data-ride="carousel" id="postsCarouselblog" style="margin-top: 3%;">
    <div class="container" style="background-color: #cfcfcf;border-radius: 20px;">
        <div class="container" style="padding-top: 3%;">
            <div class="row">
                <div class="col-6  lead text-left">
                    <h4>Blog</h4>
                </div>
                <div class="col-6 text-right lead">
                    <a href="#">All posts</a>
                    <a class="btn btn-secondary-outline prevblog" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                    <a class="btn btn-secondary-outline nextblog" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="container pt-0 mt-3" >
            <div class="carousel-inner">
                {% for blogs in blog_list%}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <div class="card-deck" style="padding: 2%; border-radius: 10px;">
                        {% for post in blogs %}
                        <div class="card" style="border: none; background-color: #cfcfcf">
                            <img class="card-img-top-250" src="{{post.Image|cut:"web/"}}" >
                            <div class="card-body pt-4">
                                <h6> {{post.Title}} </h6>
                                <p> {{post.Text|truncatewords:30}} </p>
                            </div>
                        </div>

                        {% endfor %}
                    </div>


                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



<div class="container maxwid" style="margin-top: 2%">

    <div class="row" style="text-align: center;">
        <h4 class="mid"><b>In Rumihu, we are working together to make unique experiences for you</b></h4>
    </div>
    <div class="row" style="margin-top: 4%">
        <div class="col-4">
            <div class="row"> <img src="/static/image/path.jpg" class="mid"> </div>
            <div class="row"> <p class="mid" style="padding-left: 15%;  padding-right: 15%; margin-top: 5%"> Our tours are planned in the best way. we choose best distinations with the best price for you. </p> </div>
        </div>

        <div class="col-4">
            <div class="row"> <img src="/static/image/shopping.png" class="mid"> </div>
            <div class="row"> <p class="mid" style="padding-left: 15%; padding-right: 15%; margin-top: 5%"> We prepare online payment for you. You can pay from various type of credit cards. </p> </div>
        </div>


        <div class="col-4">
            <div class="row"> <img src="/static/image/dart.png" class="mid"> </div>
            <div class="row"> <p class="mid" style="padding-left: 15%; padding-right: 15%; margin-top: 5%">Our tours are planned in the best way. we choose best distinations with the best price for you. </p> </div>
        </div>

    </div>

</div>






{% endblock %}