{% extends "template.html"%}
{% load staticfiles %}
{% load static %}

{% block content %}




<div class="container-fluid" style="margin-top: 1%; margin-left: 3%;">

    <div class="row maxwid">
        <div class="col-8">

            {% if bookmessage %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">{{bookmessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endif %}
            <div class="card">
                <div class="card-header" style="background-color: white">
                    <div class="row">
                        <div class="col-7">
                            <h4 style="color: #07036a;"> {{tour.Title}} </h4>
                            <div class="container">



                                <div class="process">
                                    <div class="process-row">
                                        {% for place in rout %}
                                        {% if forloop.first %}
                                        <div class="process-step">

                                            <button type="button" style="color: limegreen"  class="btn btn-default btn-circle" disabled="disabled"><div> <a href="/destination/{{place}}">{{place}} </a></div><div><i class="fas fa-circle"></i></div></button>
                                        </div>
                                        {% elif forloop.last %}
                                        <div class="process-step">

                                            <button type="button" style="color: darkred"  class="btn btn-default btn-circle" disabled="disabled"><div> <a href="/destination/{{place}}">{{place}} </a></div><div><i class="fas fa-circle"></i></div></button>
                                        </div>
                                        {% else %}
                                        <div class="process-step">

                                            <button type="button"  class="btn btn-default btn-circle" disabled="disabled"><div> <a href="/destination/{{place}}">{{place}} </a></div><div><i class="fas fa-circle"></i></div></button>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <div style="margin-top: 3%" class="badge badge-pill badge-light" style="color:{{tour.Tourtype.Color}}">{{tour.Tourtype.Name}}</div>
                            <div style="margin-top: 3%"> {{comments|length}} Reviews starts </div>
                            <div style="margin-top: 3%"> <i class="fas fa-route"></i>  Distance : {{tour.Distance}} KM </div>
                        </div>
                    </div>
                </div>

                <div class="card-header" style="background-color: white">
                    <div class="row">
                        <div class="col-3">
                            <div style="width: 30%; display: inline-table;"><img src="/static/image/duration.png"></div>
                            <div style="width: 70%; display: inline-table; float: right;">
                                <p> <b> Durations </b> <br/>
                                    {{tour.Dayduration}} Days </p>
                            </div>
                        </div>

                        <div class="col-3">


                            <div style="width: 30%; display: inline-table;"><img src="/static/image/type.png"></div>
                            <div style="width: 70%; display: inline-table; float: right;">
                                <p> <b> Tour Type </b> <br/>
                                    {{tour.Tourtype.Name}} </p>
                            </div>


                        </div>

                        <div class="col-3">

                            <div style="width: 30%; display: inline-table;"><img src="/static/image/siE.png"></div>
                            <div style="width: 70%; display: inline-table; float: right;">
                                <p> <b> Group Size </b> <br/>
                                    {{tour.MinGroupSize}} - {{tour.MaxGroupSize}} </p>
                            </div>
                        </div>

                        <div class="col-3">


                            <div style="width: 30%; display: inline-table;"><img src="/static/image/rate.png"></div>
                            <div style="width: 70%; display: inline-table; float: right;">
                                <p> <b> Physical Rate </b> <br/>
                                    {{tour.PhysicalRate}} of 5 </p>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Overview
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            {{tour.Overview|linebreaks}}
                                        </div>
                                        <div class="col-3" style="border-left-color:#120b12; border-left-style: solid; border-left-width: 1px; ">
                                            <div>
                                                <b> &#8226; Meals</b><br>
                                                {% for meal in tour.Meal.all %}
                                                {{meal.Name}}<br>
                                                {% endfor %}
                                            </div>


                                            <div>
                                                <b> &#8226; Transport</b><br>
                                                {% for transport in tour.Transport.all %}
                                                {{transport.Name}} -
                                                {% endfor %}
                                            </div>

                                            <div>
                                                <b> &#8226; Accomodation</b><br>
                                                {% for accomodation in tour.Accomodation.all %}
                                                {{accomodation.Name}} <br>
                                                {% endfor %}
                                            </div>

                                            <div>
                                                <b> &#8226; Guide Language</b><br>
                                                {% for lang in tour.Language.all %}
                                                {{lang.Name}} -
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Itinerary
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">






                                    <div class="accordion" id="accordionExample2">
                                        {% for it in itinerary %}
                                        <div class="card">
                                            <div class="card-header"  id="heading{{it.id}}">
                                                <h2 class="mb-0">
                                                    <button class="btn "
                                                            {% if forloop.first %} style="color: limegreen;"
                                                            {% elif forloop.last %} style="color:darkred;"
                                                            {% endif %}
                                                            type="button" data-toggle="collapse" data-target="#collapse{{it.id}}" aria-expanded="true" aria-controls="collapse{{it.id}}">
                                                        {{it.Title}}
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapse{{it.id}}" class="collapse show" aria-labelledby="heading{{it.id}}" data-parent="#accordionExample2">
                                                <div class="card-body" style="background-color: #ebebeb">
                                                    {{it.Text|linebreaks}}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>







                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <b>Includes / Excludes </b>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <b style="color: lawngreen"> Includes </b>
                                            <ul class="green">
                                                {% for inc in includes %}
                                                <li> {{inc}} </li>
                                                {% endfor %}
                                            </ul>

                                        </div>
                                        <div class="col-6">
                                            <b style="color: red"> Excludes </b>
                                            <ul class="red">
                                                {% for exc in excludes %}
                                                <li> {{exc}} </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <b>Reviews </b>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">

                                </div>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
        </div>


        <div class="col-3">

            <div class="card">
                <div class="card-header" style="background-color: white">
                    <i class="fas fa-share-alt" style="margin-right: 4%;"></i>
                            <span class="icon"><i id="likenumber" class=" heart {{classattr}} fa-heart "> {{likesnumber}}</i></span>
                    <a href="#" style="float: right;color: orange"> Gallery </a>
                </div>

                {% if tour.Googlemap %}<div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{tour.Googlemap}}" allowfullscreen></iframe>
                </div>
            </div>
                {% endif %}


                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p style="margin: 0%;"> From <b> €  {{tour.MinPrice}} </b> </p></li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <p style="margin: 0%;">Adults</p>
                                <p style="color: #4f4f4f; margin: 0%;"> + 18 </p>
                            </div>
                            <div class="col-6" style="display: table">
                                <p style="vertical-align: middle;display: table-cell;text-align: center;padding-top: 10%;">
                                    <a onclick="minus()"> <i class="fas fa-minus"></i> </a> <span id="adults">1</span> <a onclick="plus()"> <i class="fas fa-plus"></i></a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item"><p style="margin: 0%;"> Date </p><input id="theDate" type="date" class="form-control" style="border: none;" ></li>
                    <li class="list-group-item" style="text-align: center"><button type="button" style="border-radius:30px;" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#bookModal">Book now</button></li>
                </ul>
            </div>

        </div>

        <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookModalLabel">Tour Book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">

                            <div class="form-group">
                                <label for="number" class="col-form-label">Adults:</label>
                                <input type="text" name="number"  class="form-control" id="number" required="required">
                            </div>

                            <div class="form-group">
                                <label for="date" class="col-form-label">From Date:</label>
                                <input type="date" name="date"  class="form-control" id="date" required="required" >
                            </div>


                            <div class="form-group">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" name="name" class="form-control" id="name" required="required">
                            </div>

                             <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="maleRadio1" value="male" checked>
                                            <label class="form-check-label" for="maleRadio1">
                                                Male
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" id="femaleRadio1" value="female">
                                            <label class="form-check-label" for="femaleRadio1">
                                                Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="form-group">
                                <label for="email" class="col-form-label">Email:</label>
                                <input type="text" name="email" class="form-control" id="email" required="required">
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-form-label">Phone number:</label>
                                <input type="text" name="phone" class="form-control" id="phone" required="required">
                            </div>
                            <div class="form-group">
                                <label for="dateofbrith" class="col-form-label">Date of Brith:</label>
                                <input type="date" class="form-control" id="dateofbrith">
                            </div>





                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Book</button>
                    </div>
                            </form>
                    </div>


                </div>
            </div>
        </div>


    </div>


</div>



{% endblock %}